<section>
    <h1>New Facility</h1>
    <main class="item padded align-center">
        <form class="layout large aligned" action="/facility/create" method="post">            
            <label><span>Label</span><input type="text" name="label"></label>            
            <label><span>Icon URL</span><input type="text" name="iconUrl"></label>           
            <div class="align-center">
                <input class="action cta" type="submit" value="Publish Item">
            </div>
        </form>
    </main>
</section>