<section>
  <div class="padded">
    <h1 class="item">Login</h1>
    <main class="item align-center">
        {{#if error}}
          <div class="error-box">
            {{#each error.messages}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        {{/if}}
      <form class="aligned" action="/auth/login" method="post">
        <div class="aligned">
          <label><span>Username</span><input type="text" name="username" value="{{body.username}}"/></label>
          <label><span>Password</span><input type="password" name="password"/></label>
          <input class="action" type="submit" value="Sign In" />
        </div>
      </form>
    </main>
    <footer>Don't have an account? <a href="/auth/register"">Sign up here</a></footer>
  </div>
</section>