@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-orange-background: #ffa200;
    --color-time-agenda: #afaeaa;
}

body {
    font-family: 'Lato', sans-serif;
}

section.softuniada {
    width: 76%;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 11px 10px #F0F0F0;
    overflow: hidden;    
}

section.softuniada .calendar-date {
    background-color: var(--color-orange-background);
    color: white;    
    padding: 20px 28px;
    display: flex;
    align-items: center;
}

section.softuniada .calendar-date i {
    font-size: 30px;
    padding-right: 20px;
}

section.softuniada .calendar-date time {
    font-size: 18px;
    font-weight: bold;
}

.agenda li {
    padding: 30px 32px 50px 30px;
}

.agenda li:first-child {
    border-bottom: 1px solid lightgray;
}

.agenda li:last-child {
    padding-bottom: 120px;
}

.agenda li p {
    margin-bottom: 8px;
}

.agenda li time {
    color: var(--color-time-agenda);    
}

.agenda li .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 24px;
}

.agenda li .desc {
    font-size: 20px;
    line-height: 1.7;
}