.block {
    background-color: plum;
    padding: 10px 10px 10px 10px;
    margin: 80px 20px;
    border: 2px solid black;
    /* border-radius: 4px; */
    border-top-right-radius: 16px;
}

.inline {
    background-color: pink;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}

.iblock {
    background-color: lightsalmon;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}