<section>
  <h1>SoftUni Accommodation</h1>
  <p>Welcome to our site</p>
  <div>
    <a class="cta action" href="/catalog">Browse Accommodation</a>
    {{#if hasUser}}
    <a class="cta action" href="/create">Host New Accommodation</a>
    {{/if}}
  </div>  
  
</section>