<section>
  <div class="padded">
    <h1 class="item">Register</h1>
    <main class="item align-center">
      <form class="aligned" action="/auth/register" method="post">
        {{#if error}}
          <div class="error-box">
            {{#each error}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        {{/if}}
        <div class="aligned">
          <label><span>Username</span><input
              type="text"
              name="username"
            /></label>
          <label><span>Password</span><input
              type="password"
              name="password"
            /></label>
          <label><span>Repeat</span><input
              type="password"
              name="repass"
            /></label>
          <input class="cta action" type="submit" value="Sign Up" />
        </div>
      </form>
    </main>
    <footer>Already have an account? <a href="/auth/login"">Sign in here</a></footer>
  </div>
</section>