html {
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 2px solid black;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
    margin-left: 40px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #319939;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}