@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css';

body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 180px;
    align-items: center;
    color: #474747;
}

header h2 {
    font-weight: normal;
    font-size: 36px;
}

header h2 span {
    color: #21a2bf;
}

header ul {
    display: flex;
    gap: 30px;
    font-size: 19px;
}

header ul a {
    text-decoration: none;
    color: #474747;
}

header ul a:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid #21a2bf;
}

section.hero {
    background-image: url('images/slide2.jpg');
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section.hero .content-container { 
    position: absolute;  
    top: 200px;
    left: 150px;    
    color: white;    
    width: 28%;
    background: rgba(12, 12, 12, 0.5);
}

section.hero .content-container h1 {
    font-size: 46px;
    font-weight: normal;
    margin: 20px 0 20px 20px; 
    line-height: 1.3   
}

section.hero .content-container button {
    background-color: #008cba;
    color: white;
    font-size: 26px;
    padding: 8px 36px;
    border-radius: 50px;
    margin: 0 0 20px 20px;
}

section.welcome {
    margin: 40px auto;
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #454d54;
}

section.welcome h2 {
    font-size: 34px;
    font-weight: normal;
}

section.welcome .divider {
    height: 3px;
    width: 120px;
    background-color: #34b1c4;
    margin-bottom: 14px;
}

section.welcome p {
    font-size: 19px;
    margin-bottom: 26px;
}

section.welcome button {
    color: white;
    background-color: #454545;
    padding: 12px 34px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}

section.services {
    background-color: #eef0f1;
    color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

section.services h2 {
    font-size: 34px;
    font-weight: normal;
}

section.services .divider {
    height: 3px;
    width: 120px;
    background-color: #454545;
    margin-bottom: 50px;
}

section.services ul {
    width: 66%;
    display: flex;
    justify-content: space-between;
}

section.services ul li {
    background-color: white;
    text-align: center;
    width: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

section.services ul li .image-container {
    margin-bottom: 30px;
}

section.services ul li .image-container img {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

section.services ul li .content-container {
    padding-left: 20px;
    padding-right: 20px;
}

section.services ul li h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 12px;
}

section.services ul li p {
    font-size: 18px;
    margin-bottom: 16px;
}

section.services ul li button {
    background-color: #454545;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    padding: 6px 20px;
    border: none;
    margin-bottom: 40px;
}

section.subscribe {
    background-color: #393f43;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

section.subscribe h2 {
    font-size: 34px;
    font-weight: normal;
}

section.subscribe .divider {
    height: 3px;
    width: 120px;
    background-color: white;
    margin-bottom: 20px;
}

section.subscribe p {
    font-size: 18px;
    margin-bottom: 24px;
}

section.subscribe form {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

section.subscribe form input {
    width: 70%;
    background-color: #545a5e;
    padding: 12px 0 12px 14px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
}

section.subscribe form input::placeholder {
    font-size: 18px;
    font-style: italic;
}

section.subscribe form button {
    width: 28%;
    background-color: #66b5f2;
    color: white;
    font-size: 22px;
    border-radius: 6px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-links {
    background-color: #2f3539;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 60px;
}

.footer-links h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 16px;
}

.quick-links ul li:not(:last-child),
.services-links ul li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer-links .address p {
    font-size: 18px;
}

.footer-links .address > p {
    margin-bottom: 30px;
}

.footer-links .address div > p:first-child {
    margin-bottom: 12px;
}

.icons {
    display: flex;
    gap: 16px;
    font-size: 24px;
}

.footer-copyright  {
    background-color: #262b2f;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.footer-copyright span {
    color: #166fa7;
}
