* {
    box-sizing: border-box;
    font-size: 0;
}

div.container {
    max-width: 65vw;
    display: flex;
    text-align: center;
}

section.week {
    display: flex;
    flex-wrap: wrap;
}

section.notes {
    display: flex;
    flex-direction: column;
}

section.notes span {
    padding: 5px 40px;
}

span {
    border: 1px solid black;
    font-size: 20px;
    flex: 1 0 100px;
    height: 120px;
    padding-top: 20px;
}

span.workweek,
span.weekend {
    flex: 1 0 100%;    
}