html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 80px auto 0px auto;
}

h2 {
    font-family: Georgia, serif;
}