@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

li {
    display: inline-block;
    list-style: none;
    font-size: 28px;
    margin: 20px 10px;
}

a {
    border-radius: 50%;
    padding: 20px 24px;
    background-color: lightgray;
    color: black;
}

i.fa-facebook-square:hover {
    color: #3b5998;
}

i.fa-twitter:hover {
    color: #00aced;
}

i.fa-google-plus:hover {
    color: red;
}

i.fa-linkedin:hover {
    color: #007bb6;
}

i.fa-instagram:hover {
    color: #7aaed2;
}