@media (width <= 600px) {
    .home-hero {
        flex-direction: column-reverse;
    }

    .home-image1 {
        width: 100%;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }

    .home-cta-btn {
        padding: 8px 16px;
    }

    .home-cta-btn2 {
        align-self: center;
        padding: 16px;
    }

    .home-features {
        height: auto;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }

    .home-image2,
    .home-image3,
    .home-image4 {
        width: 420px;
        height: 300px;
    }

    .home-text05, .home-text06, .home-text07 {
        font-size: 16px;
    }

    .home-stats {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
    }
}